.narrow
  .center.red
    %h1 沖縄の買います、売ります総合掲示板「沖縄宝島」
    %p 業者の方はログインより会員登録して投稿してください。一般投稿は登録なしで手軽に投稿できます。
  .clear.ad-top
  .container
    .row
      .new-arrival
        .float-left
          = image_tag "/new_arrival.png", alt: "新着情報"
        %table.table
          - @posts.each do |post|
            %tr
              %td
                %span.small
                  = link_to "#{post.board.name} #{post.board.category}", board_path(post.board), data: {no_turbolink: true}
                  %br/
                  = link_to post.title, post, data: {no_turbolink: true}
                  %br/
                - if post.images
                  - post.images.each do |image|
                    = link_to image_tag(image.url(:thumb), alt: post.title), image.url(:medium), "data-lightbox" => image.url(:medium)
                .right
                  %span.small= post.created_at.strftime("%Y/%m/%d %H:%M")
      .boards
        %table.table
          %tr
            %th{:colspan => "2"}
              %strong.red 売ります！買います！
          %tr
            %td ベビー用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります ベビー用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います ベビー用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 子供用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 子供用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 子供用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 靴
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 靴']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 靴']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td アクセサリー
            %td
              = link_to "売る", "boards/#{@board_hash['売ります アクセサリー']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います アクセサリー']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 時計
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 時計']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 時計']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 衣類
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 衣類']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 衣類']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 帽子・キャップ
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 帽子・キャップ']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 帽子・キャップ']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td カバン・バッグ
            %td
              = link_to "売る", "boards/#{@board_hash['売ります カバン・バッグ']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います カバン・バッグ']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 本・雑誌
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 本・雑誌']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 本・雑誌']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 音楽・機材・楽器
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 音楽・機材・楽器']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 音楽・機材・楽器']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td ゲーム／本体・ソフト/玩具
            %td
              = link_to "売る", "boards/#{@board_hash['売ります ゲーム／本体・ソフト/玩具']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います ゲーム／本体・ソフト/玩具']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td フィギュア
            %td
              = link_to "売る", "boards/#{@board_hash['売ります フィギュア']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います フィギュア']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td ホビー・コレクション
            %td
              = link_to "売る", "boards/#{@board_hash['売ります ホビー・コレクション']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います ホビー・コレクション']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 電化製品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 電化製品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 電化製品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td カメラ
            %td
              = link_to "売る", "boards/#{@board_hash['売ります カメラ']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います カメラ']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td パソコン／本体・周辺機器・ソフト
            %td
              = link_to "売る", "boards/#{@board_hash['売ります パソコン／本体・周辺機器・ソフト']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います パソコン／本体・周辺機器・ソフト']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 携帯電話
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 携帯電話']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 携帯電話']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 家具・インテリア
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 家具・インテリア']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 家具・インテリア']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 食器・台所用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 食器・台所用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 食器・台所用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 飲料・食品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 飲料・食品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 飲料・食品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 美容・健康・ダイエット
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 美容・健康・ダイエット']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 美容・健康・ダイエット']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 介護用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 介護用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 介護用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td スポーツ用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります スポーツ用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います スポーツ用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td ゴルフ用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります ゴルフ用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います ゴルフ用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td バイク／車体
            %td
              = link_to "売る", "boards/#{@board_hash['売ります バイク／車体']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います バイク／車体']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td バイク／パーツ
            %td
              = link_to "売る", "boards/#{@board_hash['売ります バイク／パーツ']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います バイク／パーツ']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 車／車両
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 車／車両']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 車／車両']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 車／パーツ
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 車／パーツ']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 車／パーツ']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 自転車
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 自転車']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 自転車']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 船舶・ボート・マリン用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 船舶・ボート・マリン用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 船舶・ボート・マリン用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td キャンプ・アウトドア
            %td
              = link_to "売る", "boards/#{@board_hash['売ります キャンプ・アウトドア']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います キャンプ・アウトドア']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 魚類・虫類・ペット用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 魚類・虫類・ペット用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 魚類・虫類・ペット用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 釣具
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 釣具']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 釣具']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 園芸
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 園芸']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 園芸']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td チケット・金券
            %td
              = link_to "売る", "boards/#{@board_hash['売ります チケット・金券']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います チケット・金券']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 店舗・業務用・オフィス用品
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 店舗・業務用・オフィス用品']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 店舗・業務用・オフィス用品']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 工具・中古機器
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 工具・中古機器']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 工具・中古機器']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 建築資材
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 建築資材']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 建築資材']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 店舗経営権
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 店舗経営権']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 店舗経営権']}", data: {no_turbolink: true}, class: "label label-default"
          %tr
            %td 不動産
            %td
              = link_to "売る", "boards/#{@board_hash['売ります 不動産']}", data: {no_turbolink: true}, class: "label label-danger"
              = link_to "買う", "boards/#{@board_hash['買います 不動産']}", data: {no_turbolink: true}, class: "label label-default"
        /
          <table class="table">
          \!--   <tr>
          \!--     <th>宣伝・告知</th>
          \!--     <th>回収・買取</th>
          \!--   </tr>
          \!--   <tr>
          \!--     <td>
          \!--       <haml_loud> link_to &quot;仕事を依頼したい・仕事引き受けます&quot;, &quot;boards/\#{@board_hash[&#39; 仕事を依頼したい・仕事引き受けます&#39;]}&quot;, data: {no_turbolink: true}, class: &quot;label label-default&quot; </haml_loud></td>
          \!--     <td>
          \!--       <haml_loud> link_to &quot;引き取ります・買い取ります&quot;, &quot;boards/\#{@board_hash[&#39; 引き取ります・買い取ります&#39;]}&quot;, data: {no_turbolink: true}, class: &quot;label label-default&quot; </haml_loud></td>
          \!--   </tr>
          \!-- </table>
