<div class="narrow">
  <div class="center">
    <p>
      <b><span class="red">業者の方はログインより会員登録して投稿してください。一般投稿は登録なしで手軽に投稿できます。</span></b>
    </p>
  </div>

  <div class="clear ad-top"></div>

  <div class="container">
    <div class="row">
      <div class="new-arrival">
        <div class="float-left">
          <%= image_tag "/new_arrival.png", alt: "新着情報" %>
        </div>

        <table class="table">
          <% @posts.each do |post| %>
            <tr>
              <td>
                <span class="small">
                  <%= link_to "#{post.board.name} #{post.board.category}", board_path(post.board), data: {no_turbolink: true} %><br>
                  <%= link_to post.title, post, data: {no_turbolink: true} %><br>
                </span>

                <% if post.images %>
                  <% post.images.each do |image| %>
                    <%= link_to image_tag(image.url(:thumb)), image.url(:medium), "data-lightbox" => image.url(:medium) %>
                  <% end %>
                <% end %>
                <div class="right">
                  <span class="small"><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="boards">
        <table class="table">
          <tr>
            <th colspan="2" ><span class="red">売ります！買います！</span></th>
          </tr>
          <tr>
            <td>ベビー用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります ベビー用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います ベビー用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>子供用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 子供用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 子供用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>靴</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 靴']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 靴']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>アクセサリー</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります アクセサリー']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います アクセサリー']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>時計</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 時計']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 時計']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>衣類</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 衣類']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 衣類']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>帽子・キャップ</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 帽子・キャップ']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 帽子・キャップ']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>カバン・バッグ</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります カバン・バッグ']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います カバン・バッグ']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>本・雑誌</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 本・雑誌']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 本・雑誌']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>音楽・機材・楽器</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 音楽・機材・楽器']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 音楽・機材・楽器']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>ゲーム／本体・ソフト/玩具</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります ゲーム／本体・ソフト/玩具']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います ゲーム／本体・ソフト/玩具']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>フィギュア</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります フィギュア']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います フィギュア']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>ホビー・コレクション</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります ホビー・コレクション']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います ホビー・コレクション']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>電化製品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 電化製品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 電化製品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>カメラ</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります カメラ']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います カメラ']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>パソコン／本体・周辺機器・ソフト</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります パソコン／本体・周辺機器・ソフト']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います パソコン／本体・周辺機器・ソフト']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>携帯電話</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 携帯電話']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 携帯電話']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>家具・インテリア</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 家具・インテリア']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 家具・インテリア']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>食器・台所用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 食器・台所用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 食器・台所用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>飲料・食品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 飲料・食品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 飲料・食品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>美容・健康・ダイエット</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 美容・健康・ダイエット']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 美容・健康・ダイエット']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>介護用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 介護用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 介護用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>スポーツ用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります スポーツ用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います スポーツ用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>ゴルフ用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります ゴルフ用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います ゴルフ用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>バイク／車体</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります バイク／車体']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います バイク／車体']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>バイク／パーツ</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります バイク／パーツ']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います バイク／パーツ']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>車／車両</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 車／車両']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 車／車両']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>車／パーツ</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 車／パーツ']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 車／パーツ']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>自転車</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 自転車']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 自転車']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>船舶・ボート・マリン用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 船舶・ボート・マリン用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 船舶・ボート・マリン用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>キャンプ・アウトドア</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります キャンプ・アウトドア']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います キャンプ・アウトドア']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>魚類・虫類・ペット用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 魚類・虫類・ペット用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 魚類・虫類・ペット用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>釣具</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 釣具']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 釣具']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>園芸</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 園芸']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 園芸']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>チケット・金券</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります チケット・金券']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います チケット・金券']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>店舗・業務用・オフィス用品</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 店舗・業務用・オフィス用品']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 店舗・業務用・オフィス用品']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>工具・中古機器</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 工具・中古機器']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 工具・中古機器']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>建築資材</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 建築資材']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 建築資材']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>店舗経営権</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 店舗経営権']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 店舗経営権']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
          <tr>
            <td>不動産</td>
            <td>
              <%= link_to "売る", "boards/#{@board_hash['売ります 不動産']}", data: {no_turbolink: true}, class: "label label-danger" %>
              <%= link_to "買う", "boards/#{@board_hash['買います 不動産']}", data: {no_turbolink: true}, class: "label label-default" %></td>
          </tr>
        </table>

        <!-- <table class="table">
         !--   <tr>
         !--     <th>宣伝・告知</th>
         !--     <th>回収・買取</th>
         !--   </tr>
         !--   <tr>
         !--     <td>
         !--       <%= link_to "仕事を依頼したい・仕事引き受けます", "boards/#{@board_hash[' 仕事を依頼したい・仕事引き受けます']}", data: {no_turbolink: true}, class: "label label-default" %></td>
         !--     <td>
         !--       <%= link_to "引き取ります・買い取ります", "boards/#{@board_hash[' 引き取ります・買い取ります']}", data: {no_turbolink: true}, class: "label label-default" %></td>
         !--   </tr>
         !-- </table> -->

      </div>
    </div>
  </div>
</div>
