<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%=t "activerecord.attributes.post.title" %></h3>
  <p><%= @post.title %></p>
  <h3><%=t "activerecord.attributes.post.text" %></h3>
  <p><%= @post.text %></p>
  <% if @post.images %>
    <% @post.images.each do |image| %>
      <%= link_to image_tag(image.url(:thumb)), image.url(:medium), "data-lightbox" => image.url(:medium) %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text, rows: 5, class: "form-control" %>
  </div>
  <%= f.hidden_field :post_id, value: session[:post_id] %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <span class="small">＊メールアドレスは公開されません。代わりに沖縄宝島から確認、取引メールを送信いたします。</span>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= show_simple_captcha %>
  </div>

  <div class="actions">
    <%= f.submit t("helpers.submit.reply"), class: "btn btn-default" %>
    <%= link_to t("links.back"), :back, class: "btn btn-default", data: {no_turbolink: true} %>
  </div>
<% end %>
