<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reply.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @reply.post %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reply.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reply.email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @reply.text %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
