%p#notice= notice
%h1 Listing Boards
%table
  %thead
    %tr
      %th Category
      %th Name
      %th Deleted at
      %th{:colspan => "3"}
  %tbody
    - @boards.each do |board|
      %tr
        %td= board.category
        %td= board.name
        %td= board.deleted_at
        %td= link_to 'Show', board
        %td= link_to 'Edit', edit_board_path(board)
        %td= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Board', new_board_path
