= form_for(@post, multipart: true) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  = hidden_field :post, :board_id, value: session[:board_id]
  .field
    = f.label :title
    %br/
    = f.text_field :title, class: "form-control"
  .field
    = f.label :text
    %br/
    = f.text_area :text, rows: 10, class: "form-control"
  .field
    = f.label :name
    %br/
    = f.text_field :name, value: current_user.try(:name), class: "form-control"
  .field
    = f.label :email
    %br/
    %span.small ＊メールアドレスは公開されません。代わりに沖縄宝島から確認、取引メールを送信いたします。
    = f.text_field :email, value: current_user.try(:email), class: "form-control"
  .field
    = f.label :tel
    %br/
    %span.small ＊電話番号は公開されます。業者さんは記入してください。
    = f.text_field :tel, value: current_user.try(:tel), class: "form-control"
  .field
    = f.label :delete_key
    %br/
    %span.small ＊投稿を削除したいときの暗証キーとなります。
    = f.text_field :delete_key, class: "form-control"
  %div
    = f.label :images
    %br/
    = f.file_field :images, type: :file, multiple: true
    %span.small ＊ 画像は３点まで選択できます。Ctrlキーを押しながら画像を選択して下さい。
  .actions
    = f.submit class: "btn btn-default", data: { disable_with: "送信中..." }
    = link_to t("links.back"), board_path(session[:board_id]), class: "btn btn-default"
