%p#notice= notice
%h1 Listing Posts
%table
  %thead
    %tr
      %th Board
      %th Title
      %th Text
      %th Name
      %th Email
      %th Deleted at
      %th{:colspan => "3"}
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.board
        %td= post.title
        %td= post.text
        %td= post.name
        %td= post.email
        %td= post.deleted_at
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Post', new_post_path
