<div class="narrow">
  <div class="center">
    <h2><%= @post.title %> <%= "（#{@post.board.name} #{@post.board.category}）" %></h2>
  </div>

  <table class="table table-striped table-bordered">
    <tr>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <td>
        <div>
          <p><%= simple_format(@post.text) %></p>
          <% if @post.images %>
            <% @post.images.each do |image| %>
              <%= link_to image_tag(image.url(:thumb)), image.url(:medium), "data-lightbox" => image.url(:medium) %>
            <% end %>
          <% end %>
        </div>
        <div class="right">
          <div class="user-info">
            <% if @post.user && @post.user.image %>
              <%= link_to image_tag(@post.user.image.url(:thumb), height:60), @post.user.image.url(:medium), "data-lightbox" => @post.user.image.url(:medium) %>
            <% end %>
            <%= @post.name %>
            <%= link_to '<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>'.html_safe, "#{new_reply_path}/#{@post.id}", data: {no_turbolink: true} %>
            <span class="small"><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
          </div>
          <%= form_tag @post, method: :delete do %>
            <%= text_field :delete_key, {url: "posts/#{@post.id}"}, placeholder: t("activerecord.attributes.post.delete_key") %>
            <%= submit_tag t("links.destroy"), data: { confirm: t("messages.are_you_sure") }, class: "btn btn-default btn-sm" %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>

  <%= link_to t("links.back"), :back, class: "btn btn-default", data: {no_turbolink: true} %>

</div>
