!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "沖縄宝島 沖縄の#{@description} 売ります・買いますの個人売買総合サイトです。", :name => "description"}/
    %meta{:content => "沖縄宝島,#{@keywords},個人売買,売ります,買います,交換します,掲示板", :name => "keywords"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => request.original_url, :name => "canonical"}/
    %link{:href => "", :rel => "shortcut icon"}/
    = favicon_link_tag
    %title
      沖縄宝島 #{@description} 売ります 買います あげます 交換します
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div
      - if notice
        .alert.alert-success
          %p#notice= notice
      - if alert
        .alert.alert-error
          %p#alert= alert
    .jumbotron
      %header.center
        = link_to image_tag("/header.jpg", alt: "沖縄宝島"), root_path, data: { no_turbolink: true }
      .navbar.navbar-default
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-left
            %li
              %a{:href => "/rules"}
                %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}>
                ルール・免責事項
            %li
              %a{:href => "/faq"}
                %span.glyphicon.glyphicon-question-sign{"aria-hidden" => "true"}>
                よくある質問
            - if user_signed_in?
              %li{data:{no_turbolink: true}}= link_to '<span class="glyphicon glyphicon-user" aria-hidden="true"></span>'.html_safe + t("links.user.show"), user_path(current_user)
              %li= link_to '<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>'.html_safe + t("links.user.sign_out"), destroy_user_session_path, :method => :delete, data: { confirm: t("messages.sign_out") }
            - else
              %li= link_to '<span class="glyphicon glyphicon-home" aria-hidden="true"></span>'.html_safe + t("links.user.sign_in"), new_user_session_path
      .main-content
        = yield
    .clear
    %footer
      .center.caution
        本サービスのご利用は、
        %br
        利用者様の責任でお願いいたします。
      .copy-rights
        ©#{Date.today.year}
        %a{"data-no-turbolink" => "true", :href => "/"} 沖縄宝島 okinawatakarajima.com
        %br
        %a{:href => "http://nusuru.com", :target => "blank"} 沖縄の盗難車情報サイト ヌスルー情報局 nusuru.com
        %br
        %a{:href => "http://www.bikekaitoriokinawa.com", :target => "blank"} 沖縄のバイク買取価格を調べるならバイク買取沖縄.com bikekaitoriokinawa.com
        %p.small
          %i
            Produced by #{link_to "ニシムラモータース", "http://nishimuramotors.com", target: :blank}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40534755-9', 'auto');
      ga('send', 'pageview');
